// compileCompressed: ../index.css

.masonry {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  .card {
    width: 200px;
    margin-bottom: 10px;
  }
}

.pointer {
  cursor: pointer;
}

$blue: #1da1f2;

@import "bulma/utilities/_all",
        "bulma/base/_all",
        "bulma/grid/columns",
        "bulma/elements/button",
        "bulma/elements/form",
        "bulma/elements/icon",
        "bulma/elements/image",
        "bulma/elements/other",
        "bulma/elements/notification",
        "bulma/components/card",
        "bulma/components/media",
        "bulma/components/message",
        "bulma/components/modal",
        "bulma/components/nav",
        "bulma/layout/footer",
        "bulma/layout/section"
