// compileExpanded: ../index.css

.masonry {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  .card {
    width: 200px;
    margin-bottom: 10px;
  }
}

.pointer {
  cursor: pointer;
}

$blue: #1da1f2;

@import "bulma" // Import everything during dev
// @import "utilities/_all",
//   "layout/hero"
